.header{
    background: url(/img/Bitmap.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}

.head{
    width: 35%;
    padding: 100px 60px;
    padding-bottom: 130px;
    color: white;

    &__title{
        font-family: fraunces;
        font-size: 65px;
    }

    &__description{
        line-height: 24px;
    }
}


@media only screen and (max-width: 781px){

    .header{
        background: url(/img/Bitmap-tablet.png) no-repeat;
        background-size: 100% 100%;
    }
    
    .head{
        width: 60%;
        padding: 70px 50px;
        padding-bottom: 100px;
    
        &__title{
            font-size: 50px;
        }
    }
}

@media only screen and (max-width: 481px){

    .header{
        background: url(/img/Bitmap-mobile.png) no-repeat;
        background-size: 100% 100%;
    }
    
    .head{
        text-align: center;
        width: fit-content;
        padding: 90px 50px;
        padding-bottom: 100px;
    
        &__title{
            font-size: 45px;
        }
    }
}