$textColor: white;

.section1{
    margin-top: 150px;
    padding-top: 1px;
    padding-bottom: 60px;
    background-color: #2C343E;
    border-radius: 10px;

    &__cards{
        display: flex;
        margin-top: 80px;

        &__card1{
            position: relative;
            padding-right: 120px;

            & >p:nth-child(1){
                font-size: 50px;
                font-family: fraunces;
                color: #FDD6BA;
            }

            & >h3{
                font-family: fraunces;
                font-size: 32px;
                width: 190px;
                color: $textColor;
            }

            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 0;
                left: 15.5px;
                background-color: #FDD6BA;
            }
        }

        &__card2{
            padding-right: 120px;

            & >p:nth-child(1){
                font-size: 50px;
                font-family: fraunces;
                color: #FDD6BA;
            }

            & >h3{
                font-family: fraunces;
                font-size: 32px;
                color: $textColor;
            }
        }

        &__Pelement{
            position: relative;
            padding-top: 30px;

            &::after{
                content: "";
                width: 35px;
                height: 35px;
                background: url("../img/Oval.png") no-repeat;
                position: absolute;
                top: -15px;
            }

            &__text{
                line-height: 25px;
                color: $textColor;
                width: 272px;
            }
        }
    }
}

@media only screen and (max-width: 781px){

    .section1{
        padding-left: 25px;
        padding-right: 0;
    
        &__cards{
                
            &__card1{
                padding-right: 10px;
            }
    
            &__card2{
                padding-right: 30px;
            }
    
            &__Pelement{
    
                &__text{
                    width: 232px;
                }
            }
        }
    }
}

@media only screen and (max-width: 481px){

    .section1{
        padding-left: 25px;
        padding-right: 0;
    
        &__cards{
            @include flexColumn;
                
            &__card1{
                @include flexColumn;
                padding-right: 0px;
    
                & >p:nth-child(1){
                    margin: 0;
                }
    
                & >h3{
                    width: fit-content;
                    font-size: 30px;
                }
    
                &::before{
                   display: none; 
                }
            }
    
            &__card2{
                @include flexColumn;
                padding-right: 0px;
    
                & >p:nth-child(1){
                    margin: 0;
                }
    
                & >h3{
                    width: fit-content;
                    font-size: 30px;  
                }
            }
    
            &__Pelement{
                text-align: center;              
    
                &::after{
                    display: none;  
                }
    
                &__text{
                    width: 302px;
                }
            }
        }
    }
}